/* General Rules */
.info-view-content {
    text-align: center;
}

.info-view-content .loading {
    width: '3rem';
    height: '3rem';
}

.info-view-content .pictures-view-error {
    font-size: 18px;
    font-weight: 400;
}
