/* General Rules */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app {
  transition: margin-left .5s;
  padding: 16px;
}

.app-side-menu {
  width: 15%
}

.app-map-area {
  width: 85%
}


